:root {
    --background: #fffcf5;
    --light: #f4f3ee;
    --main: #fa573e;
    --accent: #4c4d59;
    --green: #797a53;
}
* {
    box-sizing: border-box;
    color: var(--accent);

}
body {
    background-color: var(--background);
}
header {
    background-color: var(--light);
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: var(--main);
    font-size: 40px;
    margin: 10px;
    padding-left: 15px;
}

nav ul {
    list-style-type: none;   
}

nav li {
    float: right;
    margin: 20px;
    padding: 5px;
    text-decoration: none;
}

nav a {
    display: block;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
}
nav a:hover {
    color: var(--green);
    font-weight: bolder;
}

/* main sections */
main {
    display: flex;
    flex-direction: column;
}
.background-image {
    width: 100%;
    margin-bottom: 25px;
    display: inline-block;
    padding: 15px;
}

section {
   display: flex;
   padding: 10px;
}

section h2 {
    color: var(--accent);
    font-size: large;
    flex: 10%;
    float: left;
    text-align: right;
    margin-right: 10px;
    }

section article {
    flex: 90%;
    float: right;
    margin-bottom: 20px;
    padding-left: 10px;
    border-left: 3px solid var(--accent);
}

.work {  
    display: flex;
    flex: 75%;
    float:right;
    flex-wrap: wrap;
}
.work figure {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 300;
}
.work img {
    box-sizing: border-box;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 8px;
    align-content: flex-start;
} 

.work figcaption {
    width: fit-content;
    font-weight: bolder;
    padding: 1px;
    position: relative;
    right: -12px;
    bottom: 50px;
}

.work h3 {
    color: var(--main);
    background-color: var(--light);
    padding: 3px;
    border: #4c4d59 solid 2px;
}

.work a:hover {
    color: var(--green);
    border: var(--main) solid 2px;
}

.contact li {
    display: inline;
    margin-left: 10px;
    justify-content: space-between;
}