:root {
    --background: #fffcf5;
    --light: #f4f3ee;
    --main: #fa573e;
    --accent: #4c4d59;
    --green: #797a53;
}
* {
    box-sizing: border-box;
    color: var(--accent);
}
@font-face {
    font-family: unbounded;
    src: url(https://fonts.google.com/specimen/Unbounded);
}
body {
    background-color: var(--background);
}
header {
    background-color: var(--light);
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: var(--main);
    font-family: unbounded;
    font-size: 40px;
    margin: 10px;
    padding-left: 15px;
}

nav ul {
    list-style-type: none;   
}

nav li {
    float: right;
    margin: 20px;
    padding: 5px;
    text-decoration: none;
}

nav a {
    display: block;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    font-family: unbounded;
}

nav a:visited {
    text-decoration: none;
}
nav a:hover {
    color: var(--green);
    font-weight: bolder;
}

/* main sections */
main {
    display: flex;
    flex-direction: column;
}
.background-image {
    width: 100%;
    margin-bottom: 25px;
    display: inline-block;
    padding: 15px;
}

section {
   display: flex;
   padding: 10px;
}

section h2 {
    color: var(--accent);
    font-size: large;
    flex: 15%;
    float: left;
    font-family: unbounded;
    
    }

section article {
    flex: 75%;
    float: right;
    margin-bottom: 20px;
    padding-left: 10px;
    border-left: 5px solid var(--accent);
}

.work {  
    display: flex;
    flex: 75%;
    float:right
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.work img {
    width: 300px;
    flex: 1 0 300px;
}

.work figcaption {
    width:30%;
    background-color: var(--light);
    color: var(--main);
    font-weight: bolder;
    padding: 4px;
    margin-top: -20px;
    border: #4c4d59 solid 2px;

}